@model NexusCommunication.Models.planbb

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>planbb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.validity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.validity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.local_plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local_plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.std_plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.std_plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.messaging_for_mobiles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.messaging_for_mobiles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.planb.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.planb.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
